    <div class="page-header">
      <h2 class="text-center">Projects</h2>
    </div>

      {{#each project in model}}
            <img class="project-screenshot"{{bind-attr src=project.image}}/>
            <br>
            <br>
            {{#if project.url}}
              <a {{bind-attr href=project.url}}> <strong><h3>{{project.name}}</h3></strong></a>
            {{else}}
              <strong><h3>{{project.name}}</h3></strong>
            {{/if}}
            {{project.description}}
        <hr>
      {{/each}}
    </section>
